body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.card-text{
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-decoration: none;
  color: white
}

.main{
  display: flex;
 flex-direction: row;
 flex: 1 1 auto !important;

}
.editor{
  width: 50vw;
  display: flex;
  justify-content: end;
  flex-direction: column;
  padding:  50px;
 
}
.banner{
  display: flex;
  height: 100vh;
}
.ant-card {
  height: 100vh;
  width: 50vw;
}
.error{
  color: red
}